#not-found.not-found-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 100vw; 
    height: 100vh;
    
    text-align: center;
}

.not-found-wrapper h2 {
    margin-left: 5px;
    margin-right: 5px;
}